/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

main{ position: relative; display: block; background: #aaa; padding: 30px; width: 300px; margin: auto; border-radius: 10px; box-shadow: 5px 5px 5px #000; }
form{ width: 100%; }
label{ display: block; height: 20px; }
input{ width: 90%; height: 20px; padding: 10px 5%; margin-bottom: 30px; box-shadow: 5px 5px 5px #000; }
button{ padding: 10px; background: green; color: white; border: 1px solid black; border-radius: 10px; }